@model IEnumerable<MvcExperiment.GridMvc.Models.Caractor>

@{
    ViewBag.Title = "無限スクロールAjax";
    int quantity = 30;
    int requestScroll = Request.QueryString["grid-scroll"] == null ? 1 : Int32.Parse(Request.QueryString["grid-scroll"]); // 指定ページ
    int displayCount = quantity * requestScroll > Model.Count() ? Model.Count() : quantity * requestScroll; // max以上表示しない
}

<section id="SectionList">
    <h1>@ViewBag.Title</h1>
    <p>ヒストリーを保持できる無限スクロールです。</p>

    @Html.Grid(Model, new GridRenderOptions { ViewName = "_GridInfinityScroll" }).AutoGenerateColumns().WithPaging(displayCount).Named("TableGrid").Sortable(true).Filterable(true).Selectable(false)
</section>

@section scripts {
<script>
    $(function () {
        // 無限スクロールAjax
        var maxDisplayCount = @(Model.Count());    // 最大表示数
        var displayCount = @(displayCount);        // 現在表示数
        var maxScroll = @Math.Ceiling((double)Model.Count() / quantity); // 最大スクロール数
        var alertMax = function(){ return '<p class="alert alert-success">' + maxDisplayCount + '件中' + displayCount + '件表示。</p>' };
        
        var $wrapTable = $('#SectionList');
        var selectorTable = '#TableGrid';
        var $table = $(selectorTable);

        var loading = false; // load中フラグ

        if (displayCount === maxDisplayCount) {
            $table.after(alertMax())
        } else {
            var hash = getVars(window.location.search);
            var requestScroll = hash['grid-scroll'] !== void 0 ? Number(hash['grid-scroll']) : 1;

            $window.on('scroll.infinityScroll', function () {
                if (!loading) {
                    var scrolled = $window.scrollTop() + window.innerHeight > $wrapTable.offset().top + $wrapTable.height();
                    if (scrolled) {
                        loading = true;
                        toggleBlockLoading(loading);

                        // ページ設定
                        requestScroll += 1;
                        hash['grid-scroll'] = requestScroll;
                        var param = '?' + getStrParameter(hash);
                        window.history.pushState(null, null, param);

                        $.ajax({
                            url: window.location.href,
                            type: 'Get',
                            success: function (data) {
                                $table.html($(selectorTable, $(data)).html());

                                loading = false;
                                toggleBlockLoading(loading);

                                // maxまで行ったらload完了
                                if (requestScroll >= maxScroll) {
                                    $window.off('scroll.infinityScroll');

                                    $table.after(alertMax());
                                }
                            }
                        });
                    }
                }
            });
        }
    });
</script>
}